.dropbtn {
  background-color: #150746;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #150746;
  text-align: center;
  min-width: 149px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c5cfcf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #150746;
}
.dropdown-content a {
  width: 200px;
  font: size 10px;
}
.dropdown-content {
  height: 120px;
}

hr {
  display: inline-block;
  width: 100px;
  height: 3px;
  border-radius: 1px;
}
#hr1 {
  background-color: rgb(16, 16, 156);
  margin-right: 0;
  padding-right: 0;
}
#hr2 {
  background-color: aqua;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#hr3 {
  background-color: rgb(243, 56, 243);
  margin-left: 0;
  padding-left: 0;
}
#nav1 {
  display: flex;
  height: 100px;
  background-color: #150746;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
#nav1 li,
#nav2 li {
  font-weight: bolder;
  margin: 5px 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#nav1 li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  height: 1.5rem;
}
#nav1 li:hover a {
  color: cadetblue;
}
#nav2 {
  height: 100px;
  /* border: 1px solid red; */
}
#nav2 li a {
  text-decoration: none;
}
#nav2 img {
  height: 80px;
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 15px 100px;
}
#nav2 li {
  padding-top: 40px;
  color: black;
}
.container {
  margin: 20px auto;
  height: 500px;
  /* border: 1px solid red; */
  background-image: linear-gradient(
    rgb(224, 33, 33),
    rgb(179, 35, 59),
    rgb(66, 24, 24)
  );
}
.secleft {
  color: white;
  margin: 70px;
  width: 50%;
  /* border: 1px solid blue; */
  padding: 0;

  display: inline-block;
}
.secleft h2 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.secleft p {
  font-size: 2rem;
  padding-top: 10px;
  margin-top: 0;
}
.material-symbols-outlined {
  color: white;
  background-color: gray;

  font-weight: 30px;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
}
.secleft span {
  font-size: 2rem;
}

.secright {
  width: 25%;
  height: 85%;
  margin: 40px 90px;
  /* border: 1px solid blue; */
  background-color: white;
  opacity: 0.95;
  float: right;
}

.form {
  margin: 15px;
  display: inline-block;
  height: 30px;
  font-weight: bolder;
}
.date1 {
  /* border: 1px solid red; */
  width: 40%;
  float: left;
}
.date2 {
  /* border: 1px solid red; */
  width: 40%;
  float: right;
}
.text1,
.text2 {
  width: 80%;
}
.number1 {
  width: 20%;
}
#link1 {
  align-items: center;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
  font-size: x-large;
  font-weight: 100;
  background-color: red;
  width: 160px;
  display: inline-block;
  padding: 10px;
  margin: auto 120px;
}
.sınıfbtn {
  background-color: #4fb99f;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
  float: right;
}

.sınıf {
  position: relative;
  display: inline-block;
  width: 260px;
  float: right;
}

.sınıf-content {
  display: none;
  position: absolute;
  background-color: #4fb99f;
  text-align: center;
  min-width: 149px;
  z-index: 1;
}

.sınıf-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sınıf-content a:hover {
  background-color: #f2b134;
}

.sınıf:hover .sınıf-content {
  display: block;
}

.sınıf:hover .sınıfbtn {
  background-color: #068587;
}

.list {
  margin: 20px;
  height: 200px;
  width: 400px;
  display: inline-block;
  border: 1px solid #c5cfcf;
  border-radius: 5px;
}
.image {
  width: 30%;
  float: left;
  display: inline-block;
}
.text {
  margin-right: 30px;
  width: 30%;
  float: right;
  display: inline-block;
}
.flex-container {
  justify-content: space-around;
  align-content: space-around;
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
}
.metin {
  margin: 70px auto;
  word-spacing: 8px;
  background-color: #150746;
  color: white;
  padding: 80px;
}
.text {
  font-size: 20px;
}
.finish {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}
.finish a {
  color: darkcyan;
  text-decoration: none;
}
.finish li {
  list-style-type: none;
}
.finish a:hover {
  text-decoration: underline;
  color: #150746;
}
